{% extends 'app/base.html' %}
{% load static %}
{% block title %}Offers on Furniture{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
       <a href="{%url 'Offers on Furniture' %}" class="list-group-item list-group-item-action" aria-current="true">All Offers on Furniture</a>
       <a href="{%url 'Offers on Furnituredata' 'chair'%}" class="list-group-item list-group-item-action" aria-current="true">chair</a>
       <a href="{%url 'Offers on Furnituredata' 'table'%}" class="list-group-item list-group-item-action" aria-current="true">table</a>
       <a href="{%url 'Offers on Furnituredata' 'Beds'%}" class="list-group-item list-group-item-action" aria-current="true">Beds</a>
       <a href="{%url 'Offers on Furnituredata' 'Dining Sets'%}" class="list-group-item list-group-item-action" aria-current="true">Dining Sets</a>
       <a href="{%url 'Offers on Furnituredata' 'below'%}" class="list-group-item list-group-item-action" aria-current="true">Below 1200</a>
       <a href="{%url 'Offers on Furnituredata' 'above'%}" class="list-group-item list-group-item-action" aria-current="true">Above 1200</a>
    </div> 
  </div>
  <div class="col-sm-8">
    <div class="row">
      {% for product in Offers on Furniture %}
      <div class="col-sm-4 text-center mb-4">
        <a href="{%url 'product-detail' product.id%}" class="btn">
          <div class="item">
            <img src="{{product.product_image.url}}" alt="" height="300" class="">
            <div class="fw-bold mt-3"><h5><b>{{product.brand}}</b></h5></div>
            <div class="fw-bold">Rs. {{product.discounted_price}}<br>
            <small class="fw-light text-decoration-line-through">{{product.selling_price}}></small></div>
          </div>
        </a>
        <hr>
      </div>
      {%endfor%}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}