.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

/* .container .row bg-danger text-center p-5 text-white border-bottom shadow {
    background-color: blue;
} */

/* .container.bibi-shop {
    font-size: 24px;
} */

.container.bi bi shop {
    text-align: left;
    margin-left: 0%;
}